body {
    margin: 0;
    padding: 0;
    background: grey;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    position: relative;
    color: white;
    display: block;
    font-size: 100px;
    border: 8px solid #45a29e;
    padding: 80px 60px;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background: #45a29e;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;  
    transition: all 0.4s ease;
    height: 100%;
    width: 0%;
}

.btn:hover::before {
    width: 50%;
}

.btn::after {
    background: #45a29e;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;   /* pour qu'il se mette en dessous du titre  test après */
    transition: all 0.6s ease;
    width: 120%;
    height: 0%;
}

.btn:hover::after {
    height: 40%;
}