* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 30%;
    height: 20%;
    font-size: 4em;
    position: relative;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.btn::before {
    content: "Hoverable";
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 1s;
    
}

.btn:hover::before {
    font-size: 20em;
    opacity: 0;
}